#add-user-modal.modal.fade
    .modal-dialog
        .modal-content
            .modal-header
                button.close(data-dismiss="modal") &times;
                h3.modal-title Create an account
            .modal-body
                p You don't NEED an account to use Brewsr, but you might want one so you can add your favorite locations to the top of the list
                .form-group
                    input#user-name.form-control(placeholder="User Name")
                .form-group
                    input#password.form-control(placeholder="Choose a Password")
                .form-group
                    input#user-name.form-control(placeholder="User Name")        
