extends layout

block content
    if error
        h3= error

    .row.form-row
        form(ng-submit="newLocation()", method="get").col-sm-offset-4.col-sm-4.row
            .form-group
                input#location.form-control(type="text" ng-model="newFeed.location" placeholder="Your Location")
            input(type="submit").location-submit        

    .item-container
        .single-item.row(ng-repeat="tweet in feed")
            img(ng-src='{{tweet.profilePhoto}}').col-sm-1
            .col-sm-11
                h4 {{tweet.name}}
                p {{tweet.text}}


