extends layout

block content
    .item-container
        .single-item.row(ng-repeat="tweet in feed")
            img(ng-src='{{tweet.profilePhoto}}').col-sm-1
            .col-sm-11
                h4 @{{tweet.name}}
                p {{tweet.text}}
                p {{tweet.time | date :'short'}}
    .info-container.row(ng-show="initialLoadContent")
        .col-sm-4.text-center
            h3 Brewsr does this
        .col-sm-4.text-center
            h3 You can use Brewsr like this
        .col-sm-4.text-center
            h3 Look how fun we are
