extends layout

block content
    .loading-container
    .item-container
        .single-item.row(ng-repeat="post in feed | orderBy: '-created_time'")
            .col-xs-12.col-sm-1.text-center
                img(ng-src='{{post.photoUrl}}')
            .col-xs-12.col-sm-11
                h4 {{post.name}}
                p: a(href="{{post.link}}" target="_blank") {{post.message}}
                p.time {{post.created_time | date:'d MMM yyyy'}}
    .info-container.row(ng-show="initialLoadContent")
        .col-xs-12.col-sm-6.text-center
            h2 What is Brewsr?
            h4 Brewsr visits Twitter, Facebook, and Instagram to find brewery updates in the area -- all you have to do is tell it where to look
            p: img.venn-beers(src="/images/venn-beers.png")
        .col-xs-12.col-sm-6.text-center
            h2 How does one Brewsr?
            h4 Brewsr only requires your curiosity -- be thirsty, dream up a location &amp; search!
            p: img.venn-beers(src="/images/destination-bubble.png")


