extends layout

block content
    .loading-container
    .item-container
        .single-item.row(ng-repeat="post in feed | orderBy: '-created_time'")
            .col-xs-12.col-sm-1.text-center
                img(ng-src='{{post.photoUrl}}')
            .col-xs-12.col-sm-11
                h4 {{post.name}}
                p {{post.message}}
                a(href="{{post.link}}" target="_blank") View post
                p.time {{post.created_time | date:'d MMM yyyy'}}
    .info-container.row(ng-show="initialLoadContent")
        .col-xs-12.col-sm-6.text-center
            h2 What is Brewsr?
            h4 Brewsr visits Twitter, Facebook, and Instagram to find curated beer updates in the area -- all you have to do is tell it where to look
            p: img.venn-beers(src="/images/venn-beers.png")
        .col-xs-12.col-sm-6.text-center
            h2 How does one Brewsr?
            h4 Brewsr only requires your curiosity -- be thirsty, dream up a location &amp; search!
            p: img.venn-beers(src="/images/destination-bubble.png")
        .col-xs-12.col-sm-offset-3.col-sm-6.text-center.testimonials
            h2 Testimonials
            .testimonials-content.col-sm-12
                img(src="/images/head-shot.png")
                p.inline.col-xs-10.text-left: em I used Brewsr that one time to find a beer, and my thirst was quenched! Amazing feats of science!
                span.text-left Malinda Mosholder | Brewsr Creator


 