doctype html
html(lang='en', ng-app="beerApp")
    head
        title BREWSR | An app for finding beer
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel='shortcut icon', href='/images/favicon.ico')
        link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
        link(rel="stylesheet" href="/main.css")
        link(rel="stylesheet" href="/mobile.css")
        link(rel="stylesheet" href="/beer.css")
    body(ng-controller="dataController")
        header.main-header.row
            .container.header-container
                .col-sm-12
                    .navbar-header.visible-xs
                        ul.text-center.nav.navbar-nav
                            li.logo.text-left
                                a(href="/")
                                    img.beer-icon(src="/images/beer-icon.png")
                                    h2 BREWSR
                    .navbar.hidden-xs
                        ul.text-center.nav.navbar-nav
                            li.log-in
                                a(type="button" data-toggle="modal" data-target="#log-in")
                                    i.fa.fa-bolt
                                    span Log In
                            li.logo
                                a(href="/")
                                    img.beer-icon(src="/images/beer-icon.png")
                                    h1 BREWSR
                            li.create-account
                                a(type="button" data-toggle="modal" data-target="#add-user-modal")
                                    i.fa.fa-plus 
                                    span Create Account

            .container.form-container
                if error
                    h3= error
                .row.secondary-search.animate-show(ng-show="secondarySearchForm")
                    h3.text-center.white-text Search a different location
                    form(ng-submit="newLocation()", method="get")
                        .form-group.col-xs-offset-1.col-xs-8.col-sm-offset-3.col-sm-6
                            input#location.form-control.text-center(type="text" ng-model="newFeed.location" placeholder="Search a City, State or ZIP (eg. Denver, CO or 15557)")
                        input(type="submit" value="Beer").new-location-submit.col-xs-3.col-sm-1
                .hero.animate-show(ng-show="initialSearch")
                    h2.text-center.white-text Brewsr finds new beers and events at breweries and bars near you
                    .row.form-row
                        form(ng-submit="newLocation()", method="get").col-xs-offset-1.col-xs-10.col-sm-offset-3.col-sm-6.row
                            .form-group
                                input#location.form-control.text-center(type="text" ng-model="newFeed.location" placeholder="Search a City, State or ZIP (eg. Denver, CO or 15557)")
                            input(type="submit" value="Find All The Beer" ng-click="secondarySearch()").location-submit      
        .content.container  

            block content
        include partials/addUser
        include partials/login

        script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-resource.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-route.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-animate.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
        script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
        script(src="/main.js")
